/*
	jsrepo 1.28.4
	Installed from https://reactbits.dev/default/
	1-27-2025
*/

#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}
